/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  background-color: var(--bg-color);
  background-image:var(--bg-image), var(--bg-linar-gradient);  
  background-size: cover;
  font-family: var(--main-font, sans-serif);
}

.content__size {
  max-width: clamp(375px, 100%, 700px);
  min-width: 375px;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow:auto;
  justify-content: end;
  align-items: center;
  gap: 25px;
  font-family: var(--accent-font, sans-serif);
  font-weight: normal;
  font-size: 14px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  margin: 0 auto 100px;
}

.header_title {
  font-size: clamp(2.722rem, 1.697rem + 4.923vw, 3.611rem);
}

.theme-menu__button {
  background-color: inherit;
  border: none;
  position: relative;
  

}

.theme-menu__button:disabled::before {
  content: '▶';
  right: 85px;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto 50px;
}

.section {
  border: 1px solid var(--main-color);
  background-color: var(--bg-color);
}

.card {
  display: grid;
  gap: 25px;
}

.section__title {
  font-weight: var(bold-font-weight);
  line-height: 21.78px;
  padding: 6px 10px;
}

.card__text {
  font-weight: var(normal-font-weight);
  line-height: 21px;
  padding: 0 25px;
}

.card__image-container {
  border: 1px solid var(--main-color);
  width: 100%;
  height: auto;
}

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center; 
}

.card-menu__list {
 justify-self: end;
}

.footer {
  margin: 0 auto 100px;
}

@media (width <= 375px) {

}