/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  box-sizing: border-box;
  color: var(--main-color);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image), var(--bg-linar-gradient);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
  page {
    font-family: var(--main-font, sans-serif);
    font-variation-settings: "wght" var(--normal-font-weight), "opsz" 0 "slnt" 0;
  }
}

.content__size {
  width: var(--width-block);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: clamp(327px, 100%, 368px);
  margin: 99px auto;
  border: var(--border);
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.header__title {
  margin-bottom: 20px;
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: var(--title-font-size);
  line-height: var(--title-font-size);
}

.header__text {
  font-size: clamp(0.75rem, 0.5079rem + 1.0329vw, 1.4375rem);
  line-height: clamp(0.75rem, 0.5079rem + 1.0329vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 25px 0px 25px 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: inherit;
  background-color: inherit;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto 50px;
}

.section {
  border: var(--border);
  background-color: var(--bg-color);
}

.card {
  display: grid;
}

.section__title {
  padding: 6px 10px 2px 10px;
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0.015em;
}

.card__text {
  padding: 25px 25px 0;
  font-weight: var(--normal-font-weight);
  line-height: 21.78px;
}

.card__image-container {
  position: relative;
  border-block-start: var(--border);
  border-block-end: var(--border);
}

.card__image-label {
  position: absolute;
  top: 23px;
  right: clamp(0.722rem, 0.487rem + 1.127vw, 1.389rem);
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  color: currentColor;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--shadow-color), 0 1px var(--shadow-color),
    1px 0 var(--shadow-color), 0 -1px var(--shadow-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))
) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
  }
}

.card__image {
  display: block;
  width: var(--width-image);
  height: var(--width-image);
  object-fit: cover;
  object-position: center;
}

.card__button-wrapper {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border);
  outline: none;
  transition: border 0.3s;
}

.card__like-button {
  width: 130px;
  height: 38px;
  text-transform: uppercase;
}

.button__text {
  z-index: 2;
  color: var(--text-color);
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0em;
  mix-blend-mode: difference;
}

.decorated-button:focus {
  box-shadow: 2px 2px 0px 0px var(--main-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.decorated-button {
  position: relative;
  border: var(--border);
  background-color: var(--bg-color);
}

.decorated-button::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: scaleX(0);
}

.decorated-button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
  transform-origin: left;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 50px auto 100px;
}

.footer__button {
  gap: 8px;
  padding: 18px 20px;
}

.footer__button-icon {
  width: 21px;
  height: 21px;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;
  color: var(--main-color);
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--bg-color);
}

dialog[open] {
  display: grid;
  gap: 30px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog_title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__title-icon {
  min-width: 39px;
  height: 39px;
  color: var(--main-color);
}

.dialog_title-text {
  font-weight: inherit;
  font-size: inherit;
  text-transform: uppercase;
}

.dialog_button {
  padding: 12px 0px;
  text-transform: uppercase;
}

.dialog::backdrop {
  backdrop-filter: blur(7px);
}

@media (width <= 375px) {
  .footer__button {
    flex-direction: column;
    padding: 15px 20px;
  }

  .footer__button-icon {
    width: 28px;
    height: 28px;
  }
}
