/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'Press Start 2P';
  --normal-font-weight: 465;
  --bold-font-weight: 785;
  --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --width-block: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --main-color:#00CC14;
  --text-color:#00CC14;
  --heart-contur-color:#00CC14;
  --heart-sparks-color: red;
  --heart-body-color: #00CC14;
  --heart-core-color: #FFFFFF;
  --bg-color: #000000;
  --bg-gradient-color: #000000;
  --shadow-color: #000000;
  --border: 2px solid var(--main-color);
  --bg-image:repeating-linear-gradient(90deg, transparent 2px, var(--bg-gradient-color) 2px, var(--bg-gradient-color) 4px, transparent 4px, transparent 6px),
  repeating-linear-gradient(transparent 2px, var(--bg-gradient-color) 2px, var(--bg-gradient-color) 4px, transparent 4px, transparent 6px);
  --bg-linar-gradient: linear-gradient(#007f0c, #004306);
}